<div class="text-center mt-md-5">
  <h1>New Todo Task</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form name="todoTaskForm">
      <div class="form-group">
        <input type="text" class="form-control" name="title" placeholder="Task Title" required />
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-success btn-lg btn-block"><span class="fa fa-save"></span> Save</button>
      </div>
      <div class="form-group">
        <a href="#/" class="btn btn-default btn-lg btn-block"><span class="fa fa-remove"></span> Cancel</a>
      </div>
    </form>
  </div>
</div>
