<div class="text-center mt-md-5">
  <h1>All todos</h1>

  <!-- 
    - feature to add
    - gets the count of todo items
    - gets the count of completed todo items
   -->
  <!-- <h1>All todos count: 6 (completed 1)</h1> -->
</div>

<div class="row">
  <div class="col-md-12">
    <a href="#/tasks/new" class="btn btn-success btn-lg btn-block"><span class="fa fa-plus"></span> New Task</a>
  </div>

  <div class="col-md-12 mt-md-2">
    <ul class="list-group">
      <ul class="list-group list-group-flush">
        <li ng-repeat="todoTask in todoTasks" class="list-group-item text-center">
          <span class="float-left">
            <button type="button" class="btn btn-success" disabled><span class="fa fa-check"> </span></button>
          </span>
          <span>{{todoTask.title}}</span>
          <span class="float-right">
            <a href="#/tasks/edit/" class="btn btn-primary"><span class="fa fa-pencil"></span></a>
            <button type="button" class="btn btn-danger" ng-click="handleTaskDeletion()">
              <span class="fa fa-trash"> </span>
            </button>
          </span>
        </li>
      </ul>
    </ul>
  </div>
</div>
